In [1]:
import pandas as pd
import random

In [2]:
# Load the dataset
df1 = pd.read_csv('2023/202308-citibike-tripdata_1.csv', header=0, skiprows=lambda i:i>0 and random.random()>0.1)
df2 = pd.read_csv('2023/202308-citibike-tripdata_2.csv', header=0, skiprows=lambda i:i>0 and random.random()>0.1)
df3 = pd.read_csv('2023/202308-citibike-tripdata_3.csv', header=0, skiprows=lambda i:i>0 and random.random()>0.1)
df4 = pd.read_csv('2023/202308-citibike-tripdata_4.csv', header=0, skiprows=lambda i:i>0 and random.random()>0.1)
df5 = pd.read_csv('2023/202308-citibike-tripdata_5.csv', header=0, skiprows=lambda i:i>0 and random.random()>0.1)
df6 = pd.read_csv('2022/202208-citibike-tripdata_1.csv', header=0, skiprows=lambda i:i>0 and random.random()>0.1)
df7 = pd.read_csv('2022/202208-citibike-tripdata_2.csv', header=0, skiprows=lambda i:i>0 and random.random()>0.1)
df8 = pd.read_csv('2022/202208-citibike-tripdata_3.csv', header=0, skiprows=lambda i:i>0 and random.random()>0.1)
df9 = pd.read_csv('2022/202208-citibike-tripdata_4.csv', header=0, skiprows=lambda i:i>0 and random.random()>0.1)

C:\Users\tylio\AppData\Local\Temp\ipykernel_20508\4046332790.py:2: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('2023/202308-citibike-tripdata_1.csv', header=0, skiprows=lambda i:i>0 and random.random()>0.1)
C:\Users\tylio\AppData\Local\Temp\ipykernel_20508\4046332790.py:7: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df6 = pd.read_csv('2022/202208-citibike-tripdata_1.csv', header=0, skiprows=lambda i:i>0 and random.random()>0.1)
C:\Users\tylio\AppData\Local\Temp\ipykernel_20508\4046332790.py:8: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df7 = pd.read_csv('2022/202208-citibike-tripdata_2.csv', header=0, skiprows=lambda i:i>0 and random.random()>0.1)
C:\Users\tylio\AppData\Local\Temp\ipykernel_20508\4046332790.py:9: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df8 = pd.read_csv('2022/202208-citibike-tripdata_3.csv', header=0, skiprows=lambda i:i>0 and random.random()>0.1)
C:\Users\tylio\AppData\Local\Temp\ipykernel_20508\4046332790.py:10: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df9 = pd.read_csv('2022/202208-citibike-tripdata_4.csv', header=0, skiprows=lambda i:i>0 and random.random()>0.1)

In [3]:
df5.count()

ride_id               9286
rideable_type         9286
started_at            9286
ended_at              9286
start_station_name    9284
start_station_id      9284
end_station_name      9286
end_station_id        9286
start_lat             9286
start_lng             9286
end_lat               9286
end_lng               9286
member_casual         9286
dtype: int64

In [4]:
df1.dropna(inplace=True)
df2.dropna(inplace=True)
df3.dropna(inplace=True)
df4.dropna(inplace=True)
df5.dropna(inplace=True)
df6.dropna(inplace=True)
df7.dropna(inplace=True)
df8.dropna(inplace=True)
df9.dropna(inplace=True)

In [5]:
# # # Handle missing values
# df1.fillna(method='ffill', inplace=True)
# df2.fillna(method='ffill', inplace=True)
# df3.fillna(method='ffill', inplace=True)
# df4.fillna(method='ffill', inplace=True)
# df5.fillna(method='ffill', inplace=True)

In [6]:
# # Assuming df1, df2, df3, df4, df5 are your DataFrames
# # Drop rows with missing values in each DataFrame
# df1.dropna(inplace=True)
# df2.dropna(inplace=True)
# df3.dropna(inplace=True)
# df4.dropna(inplace=True)
# df5.dropna(inplace=True)

In [7]:
df1.count()

ride_id               99747
rideable_type         99747
started_at            99747
ended_at              99747
start_station_name    99747
start_station_id      99747
end_station_name      99747
end_station_id        99747
start_lat             99747
start_lng             99747
end_lat               99747
end_lng               99747
member_casual         99747
dtype: int64

In [8]:
# Extract 10% sample data from each csv file

In [9]:
# # Merge the datasets 
# merged_df = pd.merge(df1, df2, on='ride_id', how='outer')
# merged_df = pd.merge(merged_df, df3, on='ride_id', how='outer')
# merged_df = pd.merge(merged_df, df4, on='ride_id', how='outer')
# merged_df = pd.merge(merged_df, df5, on='ride_id', how='outer')

In [10]:
# Concatenate DataFrames
merged_df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9], ignore_index=True)

In [11]:
# Count data points for each station
station_counts = merged_df['start_station_id'].value_counts()
station_counts.head()

start_station_id
5329.03    2734
6140.05    2218
6173.08    2080
6726.01    2044
6912.01    1995
Name: count, dtype: int64

In [12]:
# Filter out stations with fewer than 5 data points
stations_to_keep = station_counts[station_counts >= 5].index.tolist()

In [13]:
# Filter the original DataFrame to keep only data points for stations with at least 5 data points
cleaned_df = merged_df[merged_df['start_station_id'].isin(stations_to_keep)]

In [14]:
cleaned_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,7C08483638A91583,classic_bike,2023-08-16 18:36:44,2023-08-16 18:45:33,W 13 St & 5 Ave,5947.04,Mott St & Prince St,5561.04,40.735445,-73.994310,40.723180,-73.994800,member
1,53BAFA5253636943,electric_bike,2023-08-19 11:15:39,2023-08-19 11:36:05,Calyer St & West St,5676.04,Mott St & Prince St,5561.04,40.726930,-73.958630,40.723180,-73.994800,casual
2,BDB81203F26AEC37,classic_bike,2023-08-17 09:20:41,2023-08-17 09:29:45,Wilson Ave & Troutman St,4864.09,Graham Ave & Conselyea St,5291.05,40.701595,-73.927365,40.715143,-73.944507,casual
3,80ACA638B4A6C961,electric_bike,2023-08-10 08:24:25,2023-08-10 08:27:09,30 Ave & 41 St,6812.06,Steinway St & Broadway,6711.13,40.763422,-73.914142,40.759058,-73.918975,casual
4,AC72CD8057E0CDB2,classic_bike,2023-08-18 22:24:29,2023-08-18 22:31:55,Wilson Ave & Troutman St,4864.09,Graham Ave & Conselyea St,5291.05,40.701667,-73.927409,40.715143,-73.944507,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
774795,52EC47968C73AF27,classic_bike,2022-08-17 12:54:46,2022-08-17 13:04:43,W 22 St & 10 Ave,6306.06,W 15 St & 6 Ave,5989.02,40.746920,-74.004519,40.738046,-73.996430,member
774796,A02FC62EA5D4813F,classic_bike,2022-08-04 10:40:22,2022-08-04 10:49:02,W 22 St & 10 Ave,6306.06,W 15 St & 6 Ave,5989.02,40.746920,-74.004519,40.738046,-73.996430,member
774797,5CDF198153DEE568,classic_bike,2022-08-28 09:36:05,2022-08-28 09:40:46,E 2 St & Avenue A,5553.1,Canal St & Rutgers St,5303.08,40.723077,-73.985836,40.714275,-73.989900,member
774798,DB98756D32AAF3B0,classic_bike,2022-08-08 20:05:45,2022-08-08 20:10:37,W 22 St & 10 Ave,6306.06,W 12 St & Hudson St,5997.1,40.746920,-74.004519,40.737530,-74.005589,member
774799,9CEB6714CBEC7386,classic_bike,2022-08-29 22:55:27,2022-08-29 23:13:10,Washington Pl & Broadway,5755.01,Canal St & Rutgers St,5303.08,40.729039,-73.994046,40.714275,-73.989900,member

In [15]:
column_type = cleaned_df.dtypes
column_type

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [16]:
# Specify the column names you want to round
columns_to_round = ["start_lat", "start_lng", "end_lat", "end_lng"]

# Round the specified columns to 2 decimal points
cleaned_df[columns_to_round] = cleaned_df[columns_to_round].round(3)

C:\Users\tylio\AppData\Local\Temp\ipykernel_20508\3952892183.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df[columns_to_round] = cleaned_df[columns_to_round].round(3)

In [17]:
cleaned_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,7C08483638A91583,classic_bike,2023-08-16 18:36:44,2023-08-16 18:45:33,W 13 St & 5 Ave,5947.04,Mott St & Prince St,5561.04,40.735,-73.994,40.723,-73.995,member
1,53BAFA5253636943,electric_bike,2023-08-19 11:15:39,2023-08-19 11:36:05,Calyer St & West St,5676.04,Mott St & Prince St,5561.04,40.727,-73.959,40.723,-73.995,casual
2,BDB81203F26AEC37,classic_bike,2023-08-17 09:20:41,2023-08-17 09:29:45,Wilson Ave & Troutman St,4864.09,Graham Ave & Conselyea St,5291.05,40.702,-73.927,40.715,-73.945,casual
3,80ACA638B4A6C961,electric_bike,2023-08-10 08:24:25,2023-08-10 08:27:09,30 Ave & 41 St,6812.06,Steinway St & Broadway,6711.13,40.763,-73.914,40.759,-73.919,casual
4,AC72CD8057E0CDB2,classic_bike,2023-08-18 22:24:29,2023-08-18 22:31:55,Wilson Ave & Troutman St,4864.09,Graham Ave & Conselyea St,5291.05,40.702,-73.927,40.715,-73.945,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
774795,52EC47968C73AF27,classic_bike,2022-08-17 12:54:46,2022-08-17 13:04:43,W 22 St & 10 Ave,6306.06,W 15 St & 6 Ave,5989.02,40.747,-74.005,40.738,-73.996,member
774796,A02FC62EA5D4813F,classic_bike,2022-08-04 10:40:22,2022-08-04 10:49:02,W 22 St & 10 Ave,6306.06,W 15 St & 6 Ave,5989.02,40.747,-74.005,40.738,-73.996,member
774797,5CDF198153DEE568,classic_bike,2022-08-28 09:36:05,2022-08-28 09:40:46,E 2 St & Avenue A,5553.1,Canal St & Rutgers St,5303.08,40.723,-73.986,40.714,-73.990,member
774798,DB98756D32AAF3B0,classic_bike,2022-08-08 20:05:45,2022-08-08 20:10:37,W 22 St & 10 Ave,6306.06,W 12 St & Hudson St,5997.1,40.747,-74.005,40.738,-74.006,member
774799,9CEB6714CBEC7386,classic_bike,2022-08-29 22:55:27,2022-08-29 23:13:10,Washington Pl & Broadway,5755.01,Canal St & Rutgers St,5303.08,40.729,-73.994,40.714,-73.990,member

In [18]:
# Save the cleaned dataset
cleaned_df.to_csv('cleaned_data_2023.csv', index=False)

In [19]:
# Display the cleaned dataset
merged_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,7C08483638A91583,classic_bike,2023-08-16 18:36:44,2023-08-16 18:45:33,W 13 St & 5 Ave,5947.04,Mott St & Prince St,5561.04,40.735445,-73.994310,40.723180,-73.994800,member
1,53BAFA5253636943,electric_bike,2023-08-19 11:15:39,2023-08-19 11:36:05,Calyer St & West St,5676.04,Mott St & Prince St,5561.04,40.726930,-73.958630,40.723180,-73.994800,casual
2,BDB81203F26AEC37,classic_bike,2023-08-17 09:20:41,2023-08-17 09:29:45,Wilson Ave & Troutman St,4864.09,Graham Ave & Conselyea St,5291.05,40.701595,-73.927365,40.715143,-73.944507,casual
3,80ACA638B4A6C961,electric_bike,2023-08-10 08:24:25,2023-08-10 08:27:09,30 Ave & 41 St,6812.06,Steinway St & Broadway,6711.13,40.763422,-73.914142,40.759058,-73.918975,casual
4,AC72CD8057E0CDB2,classic_bike,2023-08-18 22:24:29,2023-08-18 22:31:55,Wilson Ave & Troutman St,4864.09,Graham Ave & Conselyea St,5291.05,40.701667,-73.927409,40.715143,-73.944507,casual

In [20]:
merged_df.count()

ride_id               774800
rideable_type         774800
started_at            774800
ended_at              774800
start_station_name    774800
start_station_id      774800
end_station_name      774800
end_station_id        774800
start_lat             774800
start_lng             774800
end_lat               774800
end_lng               774800
member_casual         774800
dtype: int64